body {
	
	font-family: Arial, sans-serif;
	font-size: 20px;
	background-image:url('image/body.gif');
	background-repeat: no-repeat;
	background-size: 1605px 1050px;	
}


footer{
	background-image:url('image/footerclouds.jpg');
	background-repeat: no-repeat;
	background-size: 1600px 950px
}



#content {
	width: 540px;
	text-align: left;
}

#logo{
	width: 900px;
	height: 150px;
}


#container {
	text-align: left;
	width: 900px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-image:url('image/title.png');
	background-repeat:no-repeat ;
	background-size: 1605px 1050px;
	 
	
}

h1{
    text-align: left;
	font-size: 35px;
	
}

#mainmenu{
     text-align: left;
	 font-size: 50px; 
     background: #5763d1;
	 height: 28px;
	 background-color: #5763d1;
	 
	 /*border-bottom: 30px solid #5763d1;*/
}
#cssdropdown {
   font-size: 22px;
	position: relative;
	top: -1px;
}

ul
{
	/*text-align:left;*/
	float: left;
	width:auto;
	padding:1;
	margin:0;
	list-style-type:none;
	
	
	
}
a
{
	
	width:6em;
	text-decoration:none;
	color:#C0C0C0;
	background-color:#5763d1;
	padding-left: 10px;
	padding-right: 10px;
	
}
a:hover {
	background-color:#ff3300;
}

li {
	display:inline;
 }
 
 #cssdropdown li {
	display: block;
	position: relative;
	top: 30px;
 }

#middle{
	overflow: auto; 
	
}
nav{
    
    font-size: 25px;	
    color:#5763d1;
	
	
	 
}
p{
	background-image:url('image/container.jpg');
	background-repeat: no-repeat;
	background-size: 1600px 650px;
	font-family: Verdana;
	

}

li.headlink ul { display: none; 
}

li.headlink:hover ul { display: block; 
}

/* Drop Down menu from the Web */
ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}


